@model IEnumerable<MeuSite.Models.Produto>

@{
    ViewBag.Title = "Produtos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produtos</h2>

<p>
    @Html.ActionLink("Novo", "Novo")
</p>
<table class="mui-table mui-table--bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValorUnitario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ValorUnitario)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id=item.ID }) |
            @Html.ActionLink("Detalhes", "Detalhes", new { id=item.ID }) |
            @Html.ActionLink("Deletar", "Deletar", new { id=item.ID })
        </td>
    </tr>
}

</table>
